#contenedor-mains 
{
	background:#FFF; 
	width:100%; 
	margin: 0 auto;	
	/*border:1px solid #000000;*/
}
#info
{
	width:10px;
	height:10px;
	border:0px;
	float:right;
}
#info:hover
{
	opacity: .8;
}
#flechita
{
	/*border:1px solid #000000;*/
	width:100px;
	height:30px;
	float: left;
	margin-top:10px;
	margin-left:20px;
	font-size:20px;
	color:#000000;
	font-family:Helvetica, Arial, Verdana;
}
#compar
{
	border:1px solid #000000;
	width:50px;
	height:30px;
	margin-left: 45px;
}

.menu
{
	/*border:1px solid #000000;*/
	width:1000px;
	height:100px;
	margin:auto;
	padding-left:30px;	
}
.nombre
{
	/*border:1px solid #000000;*/
	width:300px;
	height:50px;
	float:left;
	margin-left:40px;
	margin-right:50px;
	margin-top:15px;
	font-size:25px;
	color:#ffffff;
	font-weight:lighter;
	font-family:Helvetica, Arial, Verdana;
}
.rmenu
{
	/*border:1px solid #000000;*/
	width:200px;
	height:350px;
	margin-right:45px;
	margin-top:-60px;
	float:right;

}
.grafica
{
	/*border:1px solid #000000;*/
	width:300px;
	height:50px;
	margin-left:15px;
	width:690px;
	height:400px;
	float:left;
}
.grupo
{
	/*border:1px solid #000000;*/
	width:1000px;
	margin: auto;
	padding-left:30px;
}
.grupocom/*Sólo pertenece a compare.php*/
{
	/*border:1px solid #000000;*/
	width:1000px;
	height:600px;
	margin: auto;
	padding-left:30px;
}
.ff
{
	/*border:1px solid #000000;*/
	float:left;
	width:250px;
	height:30px;
	margin-right:60px;
	font-weight:bold;
	font-family:Helvetica, Arial, Verdana;
	color:gray;
	font-size:15px;	
	
}
.ali
{
	width:300px;
	height:30px;
	margin-top:8px;
}


.mapa
{
	width:950px;
	height:500px;
	/*border:1px solid #e2e2e2;*/
	margin-left:15px;
}


input.formulario
{
	color:gray;
	border:1px solid #e2e2e2;
	border-radius: 2px 2px 2px 2px;
	font-size:15px;
	width:140px;
	height:30px;
	background:#ffffff;
	color:#1781ad;
	font-weight:bold;
}
select.formulario 
{
	color:gray;
	border:1px solid #e2e2e2;
	border-radius: 2px 2px 2px 2px;
	font-size:15px;
	height:30px;
	width:230px;
	background:#ffffff;
	color:#1781ad;
	font-weight:bold;
}
select.formulario2
{
	color:gray;
	border:1px solid #e2e2e2;
	border-radius: 0px 0px 2px 2px;
	font-size:15px;
	height:30px;
	width:100px;
	background:#ffffff;
	color:#1781ad;
	font-weight:bold;
	padding-right:0px;
}
select.formulariocom
{
	color:gray;
	border:1px solid #e2e2e2;
	border-radius: 0px 0px 2px 2px;
	font-size:15px;
	height:30px;
	width:188px;
	background:#ffffff;
	color:#1781ad;
	font-weight:bold;
	padding-right:0px;
}
#selloc
{
	/*border:1px solid #000000;*/
	height:30px;
	width:275px;
	float:right;
	margin-left:300px;
	margin-top:-27px;
}
select.formulario3
{
	color:gray;
	border:1px solid #e2e2e2;
	border-radius: 0px 0px 2px 2px;
	font-size:15px;
	height:30px;
	width:100px;
	background:#ffffff;
	color:#1781ad;
	font-weight:bold;
	margin-left:0px;
	padding-left:0px:
}

select.formularioloc
{
	color:gray;
	border:1px solid #e2e2e2;
	border-radius: 2px 2px 2px 2px;
	font-size:15px;
	height:30px;
	width:150px;
	background:#ffffff;
	color:#1781ad;
	font-weight:bold;
}
.filtro
{
	/*border:1px solid #000000;*/
	width:950px;
	height:80px;
	margin-top:15px;
	margin-bottom:0px;
	margin-left:15px;
	float:left;
}
.filtrocom
{

	/*border:1px solid #000000;*/
	width:950px;
	height:80px;
	margin-top:15px;
	margin-bottom:0px;
	margin-left:15px;
	float:left;
}
#logo
{
	/*border:1px solid #000000;*/
	width:85px;
	height:73px;
	float:left;
	margin-left:15px;
	margin-right:50px;
	margin-top:15px;
}
#text
{
	margin-top:40px;
	float:left;
	/*border:1px solid #000000;*/
	width:78px;
	height:17px;
	padding-top:2px;
	font-size:12px;
	color:#b2b2b2;
	font-weight:bold;
	font-family:Helvetica, Arial, Verdana;
	margin-right:20px;
	
}
.flotados_info1
{
	border:1px solid #78b4cf; 
	background:#78b4cf; 
	height:240px;
	width:210px; 
	margin:15px; 
	float:left; 
	margin-top:15px;
	display:none;
	
}
.flotados 
{
	border:1px solid #78b4cf; 
	background:#fff; 
	height:240px;
	width:210px; 
	margin:15px; 
	float:left; 
	margin-top:15px;
	display:visible;
	
}
.div_contenedor2 
{
	height:240px;
	width:210px; 
	float:left; 
}
.barra
{
	/*border:1px solid #000000;*/
	width:1024px;
	height:68px;
	padding:0px;
	margin-top:10px;
	margin-bottom:15px;
	background:#1781ad;
	margin-left:auto;
	margin-right:auto;
}
.div_contenedor
{
	width:452px; 
	height:210px;
	float:left;	
}
.flotados2
{
	border:1px solid #78b4cf; 
	background:#fff; 
	width:452px; 
	height:238px;
	margin:15px; 
	float:left;	
}
.flotados_info2
{
	border:1px solid #78b4cf; 
	background:#78b4cf; 
	width:452px; 
	height:238px;
	margin:15px; 
	float:left;	
	display: none;
}
.clear 
{ 
	clear:both; 
}
#datos
{
	font-size:40px;
	color:#000000;
	font-family:Helvetica, Arial, Verdana;
	margin-top:3px;
	margin-left:15px;
}
#yesterday
{
	font-size:13px;
	color:#000000;
	font-family:Helvetica, Arial, Verdana;
	margin-top:40px;
	margin-left:15px;
}
#previus
{
	font-size:13px;
	color:#000000;
	font-family:Helvetica, Arial, Verdana;
	margin-top:3px;
	margin-left:15px;
}
#cabcolor
{
	background-color:#78b4cf;
	color:#FFFFFF;
	border:none;
	font-family:Helvetica, Arial, Verdana;
	height:20px;
	width:200px; 
	font-size:12px;
	font-weight:bold;
	padding-top:6px;
	padding-left:10px;
}
#internal_text
{
	height:200px;
	width:175px; 
	font-size:15px;
	font-family:Helvetica, Arial, Verdana;
	border:none;
	color:#FFFFFF;
	margin: 20px;
	text-align: inherit;
}
#internal_text2
{
	height:200px;
	width:435px; 
	font-size:15px;
	font-family:Helvetica, Arial, Verdana;
	border:none;
	color:#FFFFFF;
	margin: 20px;
	text-align: inherit;
}
#cabcolor2
{
	background-color:#78b4cf;
	color:#FFFFFF;
	border:none;
	font-family:Helvetica, Arial, Verdana;
	height:20px;
	width:443px; 
	font-size:12px;
	font-weight:bold;
	padding-top:6px;
	padding-left:10px;
}

#cabecera
{
	background-repeat:no-repeat;
	background-position:left;
}
input
{
	font: 300 24px Helvetica,Arial,Verdana;
}
a:link
{
	color:#b2b2b2;
	text-decoration:none;
}
a:visited
{
	color:#b2b2b2;
	text-decoration:none;
}
a:hover
{
	color:#78b4cf;
	text-decoration:none;
}	

/*################################ SECCION REPORT ###########################################*/

.contenido
{
	width:950px;
	height:500px;
	/*border:1px solid #e2e2e2;*/
	margin:auto;
}

.subcont
{
	padding-top:25px;
	width:950px;
	height:90px;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-color:#e2e2e2;
}
.desp1
{

	width:100px;
	height:23px;
	border:1px solid #e2e2e2;
	font-size:14px;
	font-weight:bold;
	color:#117dae;
	font-family:Helvetica, Arial, Verdana;
	padding-top:7px;
	padding-left:10px;
	border-radius: 3px 3px 3px 3px;
	float:left;
}

select.time
{
	border:1px solid #e2e2e2;
	border-radius: 0px 0px 3px 3px;
	font-size:15px;
	height:32px;
	width:100px;
	background:#ffffff;
	color:#1781ad;
	font-weight:bold;
	margin-left:-2px;
}

.scc
{
	font-size:14px;
	font-weight:bold;
	color:gray;
	font-family:Helvetica, Arial, Verdana;
	/*border:1px solid #e2e2e2;*/
	margin-bottom:15px;
}

.col1
{
	margin-top:35px;
	height:32px;
	width:456px;
	/*border:1px solid #e2e2e2;*/
	float:left;
	margin-right:34px;
}
.col2
{
	margin-top:35px;
	height:40px;
	width:456px;
	/*border:1px solid #e2e2e2;*/
	float:left;
	
}
.scrol
{
	border-bottom-style:hidden;
	overflow-y:scroll;
	overflow-x:hidden;
	height:200px;
	width:456px;
	margin-bottom:30px;
	
}
.listat
{
	width:456px;
	border-radius: 5px 5px 0px 0px;
	border:1px solid #e2e2e2;
	font-family:Helvetica, Arial, Verdana;
	background:#e4f1f7;
	color:#1781ad;
	font-weight:bold;
	font-size:13px;
	height:30px;	

	
}
.listatcom
{
	width:173px;
	border-radius: 5px 5px 0px 0px;
	border:1px solid #e2e2e2;
	font-family:Helvetica, Arial, Verdana;
	background:#e4f1f7;
	color:#1781ad;
	font-weight:bold;
	font-size:13px;
	height:30px;	
	margin-top:15px;
	padding-top:8px;
	padding-bottom:-5px;
	padding-left:15px;	
}
.listacom
{
	width:188px;
	border-radius: 0px 0px 0px 0px;
	border:1px solid #e2e2e2;
	font-family:Helvetica, Arial, Verdana;
	background:#FFFFFF;
	color:gray;
	font-size:13px;
	height:30px;		
}
.lista
{
	width:456px;
	border-radius: 0px 0px 0px 0px;
	border:1px solid #e2e2e2;
	font-family:Helvetica, Arial, Verdana;
	background:#FFFFFF;
	color:gray;
	font-size:13px;
	height:30px;		
}
input.in
{
	margin-top:8px;
	margin-left:15px;		
	margin-right:15px;
}

.ajax-loading {
    transition: all 0.3s;
    opacity: 0;
    z-index: -1;    
}

.ajax-loading.active {
    opacity: 1;
    z-index: 100;
}
